<% if user_signed_in? %> 
 <div> Welcome <%= current_user.email %> </div> 
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
<% else %>
  <%= button_to "Sign in", new_user_session_path %> 
<% end %>
<h1>Hello this is ecommerce website</h1>

<%= form_with Product: @product do |form| %>
  <%= form.label :query, "Search Item:" %>
  <%= form.text_field :query %>
  <%= form.submit "Search" %>
<% end %>

<%# link_to 'Cart', uindex_path %>
<% link_to 'Order', index_path  %>